* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(var(--white), 1);
}

:root {
  --white: 255, 255, 255;
}

#root {
  max-width: 1280px;
  width: 100vw;
  min-width: 360px;
  height: 100vh;
}

.sider {
  height: 100vh;
  width: min(35rem, 100%);
  background-color: rgba(var(--white), 0.1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.75rem;
  margin: 0 auto;
}

.add-task {
  width: 90%;
  height: 4rem;
  border-radius: 1rem;
  border: none;
  margin: 2rem auto 0 auto;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  background-color: rgba(var(--white), 0.2);
}

.add-task:active {
  background-color: rgba(var(--white), 0.7);
}

.task {
  padding: 0 0.5rem;
  width: 90%;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  margin: 0 auto;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: left;
  background-color: rgba(var(--white), 0.2);
}

.task-complete {
  border-left: solid rgb(2, 196, 2) 0.5rem;
  color: rgb(2, 196, 2);
  text-decoration: line-through;
}

.task:active {
  background-color: rgba(var(--white), 0.7);
}

.main {
  width: 10rem;
  height: 10rem;
  background-color: blue;
}

.form {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: 90%;
  border-radius: 1rem;
  border: none;
  margin: 0 auto;
  font-size: 1.25rem;
  background-color: rgba(var(--white), 0.2);
}

.show {
  display: flex;
}

.task-title {
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  background-color: rgba(var(--white), 0.2);
}

.task-title::placeholder {
  color: rgba(var(--white), 1);
  text-align: center;
  font-size: 1rem;
}

.task-title:focus {
  outline: none;
}

.options {
  display: flex;
  gap: 1rem;
}

.option-btn {
  display: none;
  flex: 1 1 auto;
  height: 2rem;
  background-color: rgba(var(--white), 0.2);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.show-block {
  display: block;
}

.option-btn:active {
  background-color: rgba(var(--white), 0.7);
}

@media (prefers-color-scheme: light) {
  :root {
    --white: 0, 0, 0;
  }
}
